* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Cabeçalho */
header {
  background-color: #0a0e3f;
  color: white;
  padding: 20px 0;
}

.container-menu h1 {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 70px;
  text-align: center;
}

.login-area {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 6px 12px;
    text-decoration: none;
    background-color: #11127a;
    color: #ffffff;
    border-radius: 6px;
    transition: 0.2s;
}

.btn a {
  color: rgb(7, 24, 172);
  text-decoration: none;
  transition: color 0.3s;
}

.login-area a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.login-area a:hover {
  color: #9597fa;
  transform: translateY(2px);
}


.menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #9597fa;
}

/* Informações */
main {
  background-color: #313777;
  padding: 40px 0;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card {
  background-color: #7c80ad;
  padding: 20px;
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.lista{
  padding: 5px;
  margin-left: 20px;
}

.jogo {
    text-align: center;
    margin: 40px 0;
    font-family: "Zen Dots", sans-serif;
    font-style: normal;
}

.btn-play {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4a6cff;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-play:hover {
    background-color:  #3c55cc;
    transform: scale(1.05);
}


/* Rodapé */
footer {
  background-color: #0a0e3f;
  color: white;
  text-align: center;
  padding: 20px 0;
}
